*{
    box-sizing: border-box;
}

body{
   margin: 0;
   font-family: sans-serif;
}

.main-header {
    width: 100%;
    background-color: #2ddf5c;
    padding: 8px 16px;
    position: fixed;
    top: 0;
    left: 0;
}

.main-nav__item {
    display: inline-block;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    text-decoration: none;
    font-weight: bold;
    color: #0e4f1f;
    font-size: 20px;
}
.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100%  - 66px );
    vertical-align: middle;
}

.main-nav__items{
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

.main-nav__item a  {
    margin: 0 16px ;
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item--cta  a {
    background-color: #ff1b68;
    padding: 8px 16px ;
    border-radius: 8px;
    color: white;
}

.main-nav__item a:hover,
.main-nav__item a:active{
    color: white;
    border-bottom: 2px solid white;
}

.main-nav__item--cta  a:hover ,
.main-nav__item--cta  a:active {
    border-bottom: none;
    color: #ff1b68;
    background-color: white;
}

.button {
    background-color: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover , 
.button:active {
    background-color: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

.main-footer {
    background-color: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a:hover , 
.main-footer__link a:active {
    color: #ccc;
}


/* Media Quryies  */
@media  (min-width: 642px) {
    .main-nav__items{
    display: block;
}
}
